<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 环境配置 -->
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <!-- 数据库连接相关配置 ,这里动态获取config.properties文件中的内容-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
<!--                <property name="url" value="jdbc:mysql://localhost:3306/zbb" />-->
<!--                <property name="username" value="root" />-->
<!--                <property name="password" value="zbb2133778" />-->

                <property name="url" value="jdbc:mysql://202.91.251.165:33061/auths" />
                <property name="username" value="root" />
                <property name="password" value="lmi@2019!@" />
            </dataSource>
        </environment>
    </environments>

    <!-- mapping文件路径配置 -->
    <mappers>
        <mapper resource="com/sql/dao/UsersDao.xml"/>
    </mappers>

</configuration>


<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE configuration-->
<!--        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-config.dtd">-->
<!--<configuration>-->
<!--<typeAliases>-->
<!--    <package name="com.course.model"/>-->
<!--</typeAliases>-->
<!--<mappers>-->
<!--    <mapper resource="mapper/mysql.xml"/>-->
<!--</mappers>-->
<!--</configuration>-->